html, body {
    height: 100%;
}


body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
}


#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

p {
	margin:-10px;
	padding:10px;
}


#left {
	width:300px;
	padding: 30px 30px;
	float:left;
}
#right{
	width:270px;
	float:right;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: left;
}
#nav {
	background:#121213;
	padding:10px 20px;
	text-align: left;
	color:#ffffff;
}
#nav a {
	margin: 0 10px;
}
#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f5eef0;
}
#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

h1 {
	color:#100004;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

#title {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#000000;
}


#village{
  width: 400px;
  height: 200px;
  padding-top: 10px;
}
#berat{
  width: 400px;
  height: 200px;
}


.box1 {
  background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:15px;
}



a:visited, a:link {
	color:rgb(0, 0, 0);
	text-decoration:underline;
	background:none;
}

a:hover {
	color: rgb(0, 0, 0);
	text-decoration:none;
	background:none;
}



#Collectphoto {
  position: absolute;
  width: 100%;
  height: 120%;
}



#content {
	margin:0 auto;
}
#main-image {
	text-align:center;
}
